.game {
  font-family: $font-family__main;
  font-size: 1rem;
}

.game__wrapper {
  position: relative;
  padding-bottom: 2.4em;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25vw;
    width: 150vw;
    height: 20em;
    background-color: $color__light;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -25vw;
    width: 150vw;
    height: 100%;
    background-color: rgba(255, 208, 66, 0.75);
    z-index: -1;
  }
}

.game__announce {
  margin: 0;
  margin-top: calc(12.8em / 8);
  margin-left: -5px;
  max-width: calc(145.5em / 8);
  min-height: calc(55em / 8);
  font-size: 8em;
  font-weight: 700;
  line-height: calc(8.5em / 8);
  color: $color__main;
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: scaleY(1.3);
  letter-spacing: 3.8px;
}

.game__init {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(32.5em / 3.9);
  padding: 0;
  font-size: 3.9em;
  font-weight: 400;
  line-height: calc(5.5em / 3.9);
  color: $color__dark;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: calc(-5.5em / 3.9);
    left: calc(50% - 11em / 3.9 / 2);
    width: calc(11em / 3.9);
    height: calc(6em / 3.9);
    background-image: url("../img/game__arrow-down.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.game__content {
  position: relative;
  font-size: 1.2rem;
}

.game__rules {
  padding-right: 5.2em;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

.game__marks {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 39em;
  list-style: none;
}

.game__check {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  border: none;
}

.game__check + label {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-color: transparent;
  border: 5px solid $color__highlight;
  border-radius: 7px;
  transition-duration: 1s;
  pointer-events: none;
}

.game__check:checked + label {
  background-color: $color__highlight;
  background-image: url("../img/modal__drop-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.game__mark:not(:last-of-type) .game__check + label {
  margin-right: 23px;
}

.game__area {
  position: relative;
  margin: 0 auto;
  margin-top: 2em;
  width: 96.3em;
  height: 54.4em;
  background-image: url("../img/game__content-bg.jpg");
  background-size: cover;
}

.game__comment {
  position: absolute;
  padding: 0.5em 2em;
  left: calc(50% - 60em / 1.8 / 2);
  width: calc(60em / 1.8);
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  background-color: $color__light;
  transition-duration: 1s;
  opacity: 1;
  pointer-events: all;
  border-radius: 10px;
}

.game__comment--hide {
  opacity: 0;
  pointer-events: none;
}

.game__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.game__item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game__question {
  position: absolute;
  top: 10em;
  left: 8em;
  width: 4.3em;
  height: 4.9em;
  transition-duration: 1s;
  opacity: 1;
  cursor: pointer;
}

.game__question--fade {
  transform: translateY(30px);
  opacity: 0;
}

.game__answer {
  position: absolute;
  top: 8em;
  left: 6.1em;
  width: 8.2em;
  height: 8.9em;
  opacity: 0;
  pointer-events: none;
}

.game__answer--reveal {
  opacity: 1;
  transition-duration: 2s;
}

@media (max-width: $width__tablet-max) {
  .game {
    font-size: 0.6rem;
  }

  .game__content {
    font-size: 0.9rem;
  }

  .game__marks {
    padding-right: 34em;
  }

  .game__check + label {
    width: 35px;
    height: 35px;
    border: 4px solid $color__highlight;
  }
}

@media (max-width: 950px) {
  .game__content {
    font-size: 0.7rem;
  }

  .game__marks {
    padding-right: 17em;
  }
}

@media (max-width: $width__mobile-max) {
  .game {
    font-size: 0.3rem;

    &::before {
      content: "";
      height: calc(10em - 1px);
    }
  }

  .game__announce {
    margin-top: calc(30em / 8);
  }

  .game__rules {
    padding-right: 9.8em;
  }

  .game__content {
    font-size: 0.5rem;
    overflow: scroll;
  }

  .game__marks {
    padding-right: 3em;
  }
}
