.reviews {
  font-family: $font-family__main;
  font-size: 1rem;
}

.reviews > .container {
  padding-top: 16em;
  padding-bottom: 13.8em;
}

.reviews__heading {
  margin: 0;
  font-size: 8em;
  font-weight: 700;
  line-height: normal;
  color: $color__highlight;
  text-transform: uppercase;
}

.reviews__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 7em;
  padding: 0;
  list-style: none;
}

.reviews__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 55.6em;
}

.reviews__logo {
  position: absolute;
  top: 0;
  max-width: 100%;
  z-index: 1;
}

.reviews__item--2 .reviews__logo,
.reviews__item--3 .reviews__logo {
  top: 9.5em;
  width: 30.1em;
  height: 11.5em;
}

.reviews__frame {
  position: relative;
  width: 35.8em;
  height: 35.8em;
  margin-top: 15em;
  background-color: $color__highlight;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 35.8 / 2);
    width: 35.8em;
    height: 35.8em;
    background-color: transparent;
    border: 5px solid $color__highlight;
    border-radius: 50%;
  }
}

.reviews__preview {
  margin-top: 11.8em;
  margin-left: calc(50% - 25.6em / 2);
  width: 25.6em;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.35);
}

.reviews__decoration {
  display: inline-block;
  margin: 0;
  margin-top: 2em;
  padding: 0.5em 1em;
  font-size: 2.5em;
  font-weight: 400;
  line-height: normal;
  color: $color__dark;
  background-color: $color__highlight;
  vertical-align: middle;
  border-radius: 7px;
}

@media (max-width: $width__tablet-max) {
  .reviews {
    font-size: 0.8rem;
  }
}

@media (max-width: $width__mobile-max) {
  .reviews {
    font-size: 0.6rem;
  }

  .reviews__heading {
    font-size: 5em;
    text-align: center;
  }

  .reviews__link {
    width: 50em;
  }
}
