.team {
  font-family: $font-family__main;
  font-size: 1rem;
}

.team__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team__item > .container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 30em;
  padding-bottom: 4.45em;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(-126em / 2.34);
    left: -35.5em;
    width: 130em;
    height: 130em;
    background-color: $color__highlight;
    border-radius: 50%;
  }
}

.team__item--1 > .container,
.team__item--3 > .container {
  padding-left: 60%;
}

.team__question {
  margin: 0;
  font-size: 8em;
  font-weight: 700;
  line-height: normal;
  color: $color__main;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.team__highlight {
  display: block;
  margin-top: -0.2em;
  color: $color__highlight;
}

.team__advantages {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  padding-left: 5em;
  list-style: none;
}

.team__advantage:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.team__advantage {
  position: relative;
  font-size: 3em;
  font-weight: 400;
  line-height: normal;
  color: $color__main;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-5em / 3);
    width: calc(3.1em / 3);
    height: calc(3.6em / 3);
    background-image: url("../img/team__advantage-drop-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.team__item--1 .team__member {
  margin-top: 34em;
}

.team__member {
  margin: 0;
  padding: 0;
}

.team__img {
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 103.3em;
  height: 92.7em;
}

.team__name {
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  color: $color__highlight;
  text-transform: uppercase;
}

.team__rank {
  margin: 0;
  font-size: 3em;
  font-weight: 400;
  line-height: normal;
  color: $color__main;
}

.team__item--2 > .container {
  padding-top: 23em;
  padding-right: 60%;

  &::before {
    bottom: calc(-126em / 2.3);
    left: auto;
    right: -34.8em;
  }
}

.team__item--4 > .container {
  padding-top: 30em;
  padding-right: 60%;

  &::before {
    bottom: calc(-126em / 2.3);
    left: auto;
    right: -34.8em;
  }
}

.team__item--2 .team__question {
  margin-left: 2em;
}

.team__item--4 .team__question {
  align-self: flex-start;
  margin-left: 1em;
}

.team__item--2 .team__advantages {
  margin-left: 17em;
  width: 50em;
}

.team__item--3 .team__advantages {
  margin-top: 4em;
  width: 55em;
}

.team__item--4 .team__advantages {
  margin-top: 4em;
  margin-left: 9em;
  width: 50em;
}

.team__item--2 .team__img {
  left: auto;
  right: 19.1em;
  width: 90.4em;
  height: 88.4em;
}

.team__item--3 .team__img {
  bottom: 0;
  left: 0;
  width: 114.8em;
  height: 94.8em;
}

.team__item--4 .team__img {
  left: auto;
  right: 0;
  width: 116em;
  height: 89.1em;
}

.team__item--2 .team__member {
  margin-top: 22.1em;
  text-align: right;
}

.team__item--3 .team__member {
  margin-top: calc(31.3em + 1px);
  margin-right: 26em;
  width: 45em;
}

.team__item--4 .team__member {
  margin-top: 35em;
  margin-left: 15em;
  width: 50em;
  text-align: right;
}

@media (max-width: 1919px) {
  .team {
    font-size: 0.8rem;
  }
}

@media (max-width: 1500px) {
  .team {
    font-size: 0.6rem;
  }

  .team__item--4 .team__img {
    left: auto;
    right: 0;
    width: 696px;
    height: 535px;
  }
}

@media (max-width: $width__tablet-max) {
  .team__item--1 > .container {
    &::before {
      bottom: calc(-126em / 2.34);
      left: calc(50% - 135em);
    }
  }

  .team__item--2 > .container {
    &::before {
      bottom: calc(-126em / 2.34);
      right: calc(50% - 130em);
    }
  }

  .team__item--3 > .container {
    &::before {
      bottom: calc(-126em / 2.34);
      left: calc(50% - 135em);
    }
  }

  .team__item--4 > .container {
    &::before {
      bottom: calc(-126em / 2.34);
      right: calc(50% - 130em);
    }
  }

  .team__item--2 .team__question {
    margin-left: 0.8em;
  }

  .team__item--3 .team__question {
    margin-right: 2em;
  }

  .team__item--4 .team__question {
    margin-left: 0.8em;
  }

  .team__item--2 .team__advantages {
    margin-left: 12em;
  }

  .team__item--3 .team__advantages {
    margin-right: 0;
    width: 55em;
  }

  .team__item--4 .team__advantages {
    margin-left: 12em;
  }

  .team__item--2 .team__member {
    margin-left: 2em;
  }

  .team__item--3 .team__member {
    margin-right: 4em;
  }

  .team__item--4 .team__member {
    margin-left: -2em;
  }

  .team__item--1 .team__img {
    left: calc(50% - 100em);
  }

  .team__item--2 .team__img {
    right: calc(50% - 90em);
  }

  .team__item--3 .team__img {
    left: calc(50% - 101em);
  }

  .team__item--4 .team__img {
    right: calc(50% - 105em);
  }
}

@media (max-width: $width__mobile-max) {
  .team {
    font-size: 0.5rem;
  }

  .team__item--1 > .container {
    padding-top: 10em;
    padding-left: 100% * 15 / 320;

    &::before {
      bottom: calc(-126em / 2.34);
      left: calc(50% - 105em);
      width: 130em;
      height: 130em;
    }
  }

  .team__item--2 > .container {
    padding-right: 100% * 15 / 320;

    &::before {
      bottom: calc(-126em / 2.34);
      right: calc(50% - 100em);
    }
  }

  .team__item--3 > .container {
    padding-top: 10em;
    padding-left: 100% * 15 / 320;

    &::before {
      bottom: calc(-126em / 2.34);
      left: calc(50% - 105em);
    }
  }

  .team__item--4 > .container {
    padding-right: 100% * 15 / 320;

    &::before {
      bottom: calc(-126em / 2.34);
      right: calc(50% - 100em);
    }
  }

  .team__question {
    font-size: 6em;
  }

  .team__item--1 .team__question {
    align-self: center;
    margin-left: -2em;
  }

  .team__item--2 .team__question {
    align-self: center;
    margin-left: 0;
  }

  .team__item--3 .team__question {
    align-self: center;
    margin-left: -2em;
  }

  .team__item--4 .team__question {
    align-self: center;
    margin-left: 0;
  }

  .team__item--1 .team__advantages {
    align-self: center;
    margin-right: 0;
    margin-left: 10em;
  }

  .team__item--2 .team__advantages {
    align-self: center;
    margin-right: 0;
    margin-left: 10em;
    width: auto;
  }

  .team__item--3 .team__advantages {
    align-self: center;
    margin-right: 0;
    margin-left: 10em;
    width: auto;
  }

  .team__item--4 .team__advantages {
    align-self: center;
    margin-right: 0;
    margin-left: 10em;
    width: auto;
  }

  .team__advantage {
    font-size: 4em;
  }

  .team__item--1 .team__img {
    left: calc(50% - 70em);
  }

  .team__item--2 .team__img {
    right: calc(50% - 50em);
  }

  .team__item--3 .team__img {
    left: calc(50% - 70em);
  }

  .team__item--4 .team__img {
    right: calc(50% - 60em);
  }

  .team__member {
    width: 100%;
  }

  .team__item--1 .team__member {
    align-self: center;
    margin-right: 0;
    margin-top: 85em;
  }

  .team__item--2 .team__member {
    align-self: center;
    margin-left: 0;
    margin-top: 85em;
  }

  .team__item--3 .team__member {
    align-self: center;
    margin-left: 0;
    margin-top: 85em;
  }

  .team__item--4 .team__member {
    align-self: center;
    margin-left: 0;
    margin-top: 85em;
  }

  .team__item--1 .team__info {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -25vw;
      width: calc(25vw + 50% + 100px);
      height: 100%;
      background-color: $color__light;
      z-index: -1;
    }
  }

  .team__item--2 .team__info {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -25vw;
      width: calc(25vw + 50% + 135px);
      height: 100%;
      background-color: $color__light;
      z-index: -1;
    }
  }

  .team__item--3 .team__info {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -35vw;
      width: calc(35vw + 50% + 120px);
      height: 100%;
      background-color: $color__light;
      z-index: -1;
    }
  }

  .team__item--4 .team__info {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -35vw;
      width: calc(35vw + 50% + 135px);
      height: 100%;
      background-color: $color__light;
      z-index: -1;
    }
  }
}
