@font-face {
  font-family: "Gill Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/GillSans-01.woff2") format("woff2"),
    url("../fonts/GillSans-01.woff") format("woff");
}

@font-face {
  font-family: "Gill Sans";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/GillSans-Bold-02.woff2") format("woff2"),
    url("../fonts/GillSans-Bold-02.woff") format("woff");
}
