html {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height:0vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  min-width: $width__desktop;
}

@media (max-width: $width__tablet-max) {
  .container {
    padding: 0 100% * 30 / 768;
    min-width: $width__tablet;
  }
}

@media (max-width: $width__mobile-max) {
  .container {
    padding: 0 100% * 15 / 320;
    min-width: $width__mobile;
  }
}
