$width__mobile: 320px;
$width__mobile-max: 767px;
$width__tablet: 768px;
$width__tablet-max: 1279px;
$width__desktop: 1280px;

$font-family__main: "Gill Sans";

$color__main: rgb(0, 0, 0);
$color__dark: rgb(51, 51, 51);
$color__light: rgb(255, 255, 255);
$color__highlight: rgb(255, 203, 75);
